source https://www.nuget.org/api/v2

nuget MBrace.Azure 0.6.8-alpha
nuget MBrace.Azure.Standalone 0.6.8-alpha
nuget MBrace.Core prerelease
nuget MBrace.Flow
nuget Streams
nuget Mono.Cecil 0.9.5.4
nuget FSharp.Charting 0.90.10
nuget FSharp.Data 2.2.3