<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.2.0" targetFramework="net451" />
  <package id="R.NET.Community" version="1.5.16" targetFramework="net451" />
  <package id="R.NET.Community.FSharp" version="0.1.9" targetFramework="net451" />
  <package id="RProvider" version="1.1.8" targetFramework="net451" />
</packages>